@import "tailwindcss";

.orbit{
    animation:orbit 20s linear infinite;
}
.orbit-delay-5{
    animation: orbit 20s linear infinite -5s;
}

.orbit-delay-10{
    animation: orbit 20s linear infinite -10s;
}

.orbit-delay-15{
    animation: orbit 20s linear infinite -15s;
}

@keyframes orbit{
    0%{
        transform: translate(-50%, -50%) rotate(0deg) translateX(180px) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg) translateX(180px) rotate(-360deg);
    }
}
